.selectFilterMain {
    width: 195px;
    height: 56px;
    border-radius: 11px;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selectFilterMain2 {
    width: 195px;
    height: auto;
    border-radius: 11px;
    flex-direction: column;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    gap: 10px;
}

li,
ul {
    text-decoration: none;
    list-style: none;
}

.yellow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
}

ul {
    max-height: 202px;
    overflow: hidden;
}

.headerFilter {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 56px;
    align-items: center;
}

.search-icon {
    position: absolute;
    right: 8px;
    color: #555;
    pointer-events: none;
}

.selected {
    width: 195px;
    height: 53px;
    gap: 60px;
    opacity: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffd15b;
    cursor: pointer;
}

.filterul {
    padding-left: 16px;



}

.filtermenu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap:10px;
    transition: height 1s ease;
}


label {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
}

.filterul li {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    height: 19px;
}