.ingredientName{
list-style: none;
padding: 0;
font-family: Manrope;
font-weight: 500;
font-size: 14px;
color: #1B1B1B;

}

.ingredientQuantity{
list-style: none;
padding: 0;
font-family: Manrope;
font-weight: 400;
font-size: 14px;
color: #7A7A7A;

}