@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
  max-width: 1440px;
  margin: auto;
}

h1,h2,h3,p,span,ul{
  margin: 0;
  padding: 0;
}

.cardContente{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
  background-color: #EDEDED;
}

a{
  text-decoration: none;
  color: inherit;
}

.new{
  display: flex;
  gap: 20px;
}

main{
    background-color: #EDEDED;
}

.filterMain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.spanCard{
    font-family: Manrope;
font-weight: 700;
font-style: Bold;
font-size: 12px;
line-height: 100%;
letter-spacing: 9%;
text-transform: uppercase;
color: #7A7A7A;
}
